html
  head
    title='Confluence 4.0 Devops Docker Demo!!'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css') 
  body
    div.container
      div.jumbotron
        h1 Welcome to Confluence4.O !!!
        p  Get Innovative, Get Involved...
        
 	<img src="http://10.184.43.40:4242/InnovationBox/IMAGES/confluence4/home_page_theme.png" alt="text"/>
       